%h1
  Hello #{@username}

.row 
  .col-md-6
    .thumbnail
      = image_tag "rhino.jpg", alt: "rhino"
      .caption
        %h3 Welcome to rhino
        %p= Time.now.strftime('%A %B %C, %I:%M%P')

  